/*
Template: twentysixteen
Theme Name: My 2016
*/

#big-red-button{
	width: 250px;
	background: rgb(204, 0, 0);
	display: block;
	margin-bottom: 20px;
}

#big-red-button.done{
	background: rgb(38, 204, 15);
}